__pycache__/
*.pyc
*.pyo
build/
backups/
LTSpice/
Results/
Important_Results/
Extra_Scripts/
Crossbar_Models_Comparison.egg-info/
build/lib/CrossbarModels/
data/
.vscode/
env/
.venv/
venv/
*.log
*.sqlite3
*.DS_Store
*.ipynb_checkpoints
Crossbar_Simulator_ArraySize_Sweep_work_point.py
Crossbar_Simulator_ArraySize_Sweep.py
NN_Training_gif.py