matplotlib==3.10.0
numpy==1.25.2
pandas==2.2.3
Pillow==11.1.0
PyLTSpice==5.4.0
PyQt5==5.15.11
PyQt5_sip==12.17.0
PySpice==1.5
pytz==2024.2
scikit_learn==1.6.1
scipy==1.15.1
seaborn==0.13.2
setuptools==65.5.0
torch==2.5.1
torchvision==0.20.1